*{
    margin:0;
    padding:0;
    outline:none;
}

body{
    width:100%;
    height:100vh;
    background:#101115;
}

.left-panel{
    width:30%;
    height:calc(100vh - 50px);
    float:left;
    background:#1D1F24;
    border-right:1px solid gray;
    overflow: auto;
    position:fixed;
    top:50px;
}

.right-panel{
    width:70%;
    height:100vh;
    float:right;
}

.top-menu{
    width:30%;
    height:50px;
    background:#3D3E3E;
    color:#596868; 
    position:fixed;
    float:left;
    border-right:1px solid gray;
}

.icons-menu{
    width:50%;
    height:100%;
    float:right;
    text-align: right;
    line-height: 50px;
    font-size:18px;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    padding:0 20px;
}

.noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.icons-menu i{
    cursor:pointer;
    padding-top:4px;
    width:30px;
    height:30px;
    border-radius:100%;
    text-align:center;
}

.icons-menu i:hover{
    color:white;
}

.area-image-menu{
    width:45px;
    height:100%;
    float:left;
}

.image-menu{
    cursor:pointer;
    width:37px;
    height:37px;
    margin:7px 20px;
    border-radius:100%;
    background:white;
}

.search-area-menu{
    float:left;
    width:100%;
    padding:0;
    height:45px;
    border-bottom:1px solid gray;
}

.search-area-menu label{
    width:100%;
    float:left;
    padding: 7px 20px;
}

.search-button{
    width:20%;
    height:30px;
    color:#C1C3C3;
    float:left;
    background:#515151;
    border-radius: 20px 0 0 20px;
    text-align: center;
    line-height: 30px;
    cursor:pointer;
}

.contact-message{
    width:100%;
    float:left;
    height:70px;
    cursor:pointer;
}
.area-image-contact-message{
    width:80px;
    height:100%;
    float:left;
}

.contact-message:hover{
    background: rgba(100,100,100,0.4);
}

.image-contact-message{
    width:50px; 
    height:50px;
    margin:10px;
    border-radius:100%;
    background:gray;
}

.informations-message-area{
    float:right;
    width:calc(100% - 80px);
    height:100%;
    border-bottom:1px solid gray;
}

.informations-message-area{
    height:100%;
    width: calc(100% - 80px);
    float:right;
    padding:13px 15px;
}

.informations-top{
    width:100%;
    height:20px;
    float:left;
    color:#FFFFFF;
}

.informations-top .name{
    float:left;
    font-size:16px;
    font-weight:590;
    width:calc(100% - 20px);
}

.informations-top .hour {
    float:right;
    font-size:12px;
    width:20px;
}

.input-search-menu{
    width:80%;
    height:30px;
    background:#515151;
    border:none;
    border-radius: 0 20px 20px 0;
    float:right;
    caret-color:white;
    color:white;
}

.content-informations .content{
    width:calc(80% - 20px);
    height:20px;
    float:left;
    color:#FFFFFF;
    margin-top:3px;
}

.chat-area{
    width:100%;
    height:calc(100% - 110px);
    background:url('../../chat/img/background.jpg');
    background-size:contain;
    opacity: 0.1;
    position:fixed;
    top:50px;
}

.top-chat{
    width:100%;
    height:50px;
    background:#3D3E3E;
    position:fixed;
}

.down-chat{
    width:100%;
    height: 60px;
    background:#3D3E3E;
    position:fixed;
    float:left;
    bottom:0px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(72, 93, 100); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

}

.area-image-top-chat{
    width:50%;
    height:100%;
    padding:5px 20px;
    float:left;
}

.img-chat{
    width:40px;
    height:40px;
    background:gray;
    float:left;
    border-radius:100%;
}

.area-image-top-chat span{
    color:#FFFFFF;
    float:left;
    line-height: 40px;
    font-weight:580;
    margin-left:10px;
}

.down-chat input{
    width:60%;
    height:40px;
    border-radius:20px;
    margin-top:10px;
    float:left;
    margin-left:40px;
    padding:5px 20px;
    color:white;
    background:#515151;
    border:none;
}

.cont-messages{
    min-width:20px;
    height:20px;
    border-radius:100%;
    background:rgb(25, 150, 118);
    float:right;
    text-align:center;
    font-weight: 600;
    line-height: 20px;
}

.down-chat button{
    width:30px;
    height:30px;
    background:none;
    border:none;
    color:white;
    outline:none;
    font-size:20px;
    height:100%;
    margin-left:20px;
}
/* Medias Queries */

@media only screen and (max-width: 1300px){
   .right-panel{
       width:65%;
   }
   .left-panel{
       width:35%;
   }
}

@media only screen and (max-width: 790px){
    .right-panel{
        width:52%;
    }
    .left-panel{
        width:38%;
    }
    .top-menu{
        width:38%;
    }
 }

@media only screen and (max-width: 780px){
    .right-panel{
        width:52%;
    }
    .left-panel{
        width:48%;
    }

    .top-menu{
        width:48%;
    }
 }